/* 文章标签 */
.article-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}

.tags-title {
  font-weight: 500;
  color: var(--gray-dark);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article-tags .tag-item {
  padding: 6px 12px;
  background-color: var(--gray-light);
  color: var(--text-color);
  border-radius: 20px;
  font-size: 13px;
  transition: all 0.3s ease;
}

.article-tags .tag-item:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  transform: translateY(-2px);
} 